<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2 ng-show="friends.loading">Loading</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="f in friends.friends">
                        <td>{{f.id}}</td>
                        <td>{{f.first_name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>